<div id="content">
  <div class="card-title">
      <h1 class="title">Chefe Zezin do IFRN 2</h1>
  
  </div>
  <div id="conteiner">
      <div id="sidebar">
          <div>
              <img id="img1" src="https://images.unsplash.com/photo-1654922207993-2952fec328ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Chefe Zezin">
          </div>
          <div class="card">
              <h3>Informações da chefe de cozinha</h3>
          </br>
              <ul id="text">
                  <p><i class="fa fa-user" aria-hidden="true"></i><b> Nome:</b> Zezin</p>
                  <p><i class="fa fa-address-card" aria-hidden="true"></i><b> Profissão:</b> Chefe de cozinha</p>
                  <p><i class="fa fa-envelope" aria-hidden="true"></i><b> Email:</b> chefezezin@gmail.com.br</p>
                  <p><i class="fa fa-instagram" aria-hidden="true"></i><b> Instagram:</b> <a target="_blank"
                          href="#">@chefzezin</a></p>
              </ul>
          </div>
      </div>
  
      <div class="card">
          <div class="ingredientes">
          </br>
              <h3 id="textTexto">Formação Acadêmica </h3>
          </br>
              <ul id="textTexto">
                  <li>Técnico em Gastronomia</li>
                  <li>Graduanda em Gastronomia Francesa</li>
                  <li>Graduanda em Gastronomia Italiana</li>
                  <li>Pós Gastronomia Contemporânea</li>
              </ul>
          </br>
              <h3 id="textTexto">Especialidades</h3>
          </br>
              <p id="textTexto">- Especialista em comidas tipicas Francesa, italiana.</p>
              <p id="textTexto">- Especialista em pratos italianos.</p>
          </div>
      </div>
  </div>
</div>