<div id="content">
    <div class="card-title">
        <h1 class="title">Hambúrguer Artesanal 3</h1>
        <h1 class="data">01/01/2021</h2>
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div>
                <img id="img1" src="https://images.unsplash.com/photo-1633424234673-c8cd0f4df77b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="hambúrguer">
            </div>
            <div class="card">
                <h3>Informações do autor da receita</h3>
            </br>
                <ul id="text">
                    <p><i class="fa fa-user" aria-hidden="true"></i><b> Nome:</b> Méqui Donalds</p>
                    <p><i class="fa fa-address-card" aria-hidden="true"></i><b> Profissão:</b> Empreendedor</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><b> Email:</b> mequidonalds@gmail.com.br</p>
                    <p><i class="fa fa-instagram" aria-hidden="true"></i><b> Instagram:</b> <a target="_blank"
                            href="#">@mequidonalds</a></p>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <div class="ingredientes">
            </br>
                <h3 id="textTexto">Ingredientes</h3>
            </br>
                <ul id="textTexto">
                    <li>400 g de carne moída</li>
                    <li>4 colheres (sopa) de Farelo de Aveia Orgânica Nestlé</li>
                    <li>1 e meia colher (chá) de sal</li>
                    <li>Meia cebola pequena ralada</li>
                    <li>1 xícara (chá) de abobrinha ralada no ralo fino</li>
                </ul>
            </br>
                <h3 id="textTexto">Modo de Preparo</h3>
            </br>
                <p id="textTexto">- Em um recipiente, misture todos os ingredientes até ficar homogêneo.</p>
                <p id="textTexto">- Modele 12 hambúrgueres médios e coloque em uma forma untada com azeite. Leve ao forno médio (180ºC), preaquecido por cerca de 30 minutos, virando na metade do tempo.</p>
            </div>
        </div>
    </div>
    <div class="card1">
        <h3>Patrocinadores e criadores do site</h3>
    </br>

        <p>Méqui Donalds | SoolQueijo LTDA.</p>

    </div>
</div>