<div class="recipe recipe-list-item">
  <div class="recipe-cover">
    <img src="https://images.unsplash.com/photo-1561758033-f8ff74d6494a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="hambúrguer" />
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">Hamburguer Especial com Batata Frita 1</h2>
  </div>

  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fas fa-user"></i>
      Cloe
    </span>
    <span class="recipe-author-item">
      <i class="fas fa-calendar-alt"></i>
      16/10/2021 às 11:21
    </span>
    <span class="recipe-author-item">
      <a href="{% url 'receitas' %}">
        <i class="fas fa-layer-group"></i>
        <span>Café da Manhã</span>
      </a>
    </span>
  </div>
  <div class="recipe-content">
    <p>Nada melhor que começar o seu final de semana com um hambúrguer! 
      Não existe dia certo para comer hambúrguer. Só o nosso hambúrguer
      tem o sabor que te leva para as nuvens! O humbúrguer não é um vilão,
      ele é o mocinho que faz todo mundo feliz no final!! 
  </p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation;">
      <h3 class="recipe-meta-title">
        <i class="fas fa-stopwatch"></i>
        Preparo
      </h3>
      <div class="recipe-meta-text">10 Minutos</div>
    </div>
    <div class="recipe-meta recipe-servings" >
      <h3 class="recipe-meta-title">
        <i class="fas fa-pizza-slice"></i>
        Porções
      </h3>
      <div class="recipe-meta-text">1 Porções</div>
    </div>
  </div>

  <footer class="recipe-footer">
    <div id="buttonil">
      <a class="recipe-read-more button button-dark button-full-width" href="{% url 'receitas' %}">
          <i class="fas fa-eye"></i>
          <span>ver mais...</span>
      </a>
      <a href="{% url 'contatos1' %}" id="recipesx">
        <i class="fa-regular fa-user"></i>
        <span>Contato</span>
      </a>
    </div>
  </footer>
</div>